.forms-field
  = simple_form_for @movie, :url => @movie.new_record? ? url_for(action: 'create', controller: 'movies') : url_for(action: 'update', controller: 'movies') do |f|
    .form-group
      = f.input :title, label: false, placeholder: "Movie Title", input_html: { class: 'form-control' }
    .form-group
      = f.input :service, label: false, placeholder: "Netflix, Prime, or YouTube TV", input_html: { class: 'form-control' }
    = f.button  :submit, class: "btn btn-info", value: "Save Movie"
