.forms-field
  = simple_form_for @movie, :url => @movie.new_record? ? url_for(action: 'create', controller: 'movies') : url_for(action: 'update', controller: 'movies') do |f|
    .form-group
      = f.input :title, required: true, label: "Movie", placeholder: "Title of Movie", input_html: { class: 'form-control'}
    .form-group
      = f.input :service, required: true, label: "Service", priority: ["Netflix"], collection: ["Amazon Prime", "Netflix", "YouTube TV"], input_html: { class: 'form-control'}
    = f.button  :submit, class: "btn btn-info", value: "Save Movie"
