.container
  .jumbotron
    .div.button
      = link_to "Which Movie Should I Watch?", movie_random_path(@movies)

  .div
    %h1= "All Shows"
    - @movies.each do |movie|
      = link_to "#{movie.title}", movie_path(movie[:id]), class: "movie-title"
      %br
