
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


body {
  background-color: #5F976A;
}

abbr {
  display: none;
}

.navbar {
  background-color: orange;
  /*opacity: .8;*/
}

a {
  color: #132F19;
}

a:hover {
  color: white;
  text-decoration: none;

}

.navbar-link {
  color: white;
}

.navbar-link:hover {
  color: #132F19;
}

/* Show Page Buttons  */

.bottom-form {
  margin-top: auto;
  display: flex;
}

.service-input {
  width: 160px;
}

.btn-add-delete {
  margin-bottom: auto;
  margin-left: auto;
  height: 40px;
}
