// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.service {
  font-style: italic;
}

.genre {
  font-style: italic;
}

.button {
  text-align: center;
}
