// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.button-head {
  text-align: center;
}

// What to watch AND add movie
.buttons {
  display: inline-block;
  text-align: center;
}

//What to watch
.button {
  background-color: #132F19;
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  padding: 8px 20px;
  text-decoration:none;
  font-weight:bold;
  border: 1px solid black;
  border-radius:5px;
  cursor:pointer;
  font-size: 1.7em;
}

.button:hover {
  border: 1px solid white;
  border-radius:50px;

}
.what-to-watch {
  color: orange;
}

.what-to-watch:hover {
  color: white;
  text-decoration: none;
}
// Add Movie Button
.add-movie {
  background-color: #132F19;
  color: orange;
  margin: auto;
  display: inline-block;
  margin-top: 20px;
  padding: 12px;
  text-decoration:none;
  font-weight:bold;
  border: 1px solid orange;
  border-radius:5px;
  cursor:pointer;
}


.add-movie:hover {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius:50px;


}

.body-text {
}

// My List text
.title-link {
  text-align: center;
  margin-top: 40px;
}

// Loop through and list all movies
.movie-list {
  margin: auto;
  text-align: center;
}

// Individual movie cards
.movie {
  display:inline-flex;
  margin-bottom: 6px;
  border: 2px solid #191919;
  border-radius: 6px;
}

.clickable {
  width: 300px;
  height: 100%;
  margin: auto;
}

.movie-title {
  margin: auto;
  font-weight: bold;
  text-transform: capitalize;
  color: #132F19;
  font-size: 1em;
}

.movie-title:hover {
  background-color: #132F19;
  color: orange;
  text-decoration: none;
  border: 2px solid orange;
  border-radius: 4px;
}

/* Show Movie */
.show-container {
  text-align: center;
}

.show-info {
  margin: auto;
}

.show-content {
  display: inline-flex;
  width: 80%;
  margin: 15px;
}

.show-words {
  width: 100%;
  margin-left: 6px;
  padding: 10px;
  border: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  background-color: #0d0fa5;
  color: #FFD801;
}

.show-photo {
  border: 3px;
  height: 100%;
  border-radius: 4px;
  border-style: solid;
  border-color: black;
}

.show-movie-title {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.show-content{
  text-align: left;
}

.show-buttons {
  width: 100%;
}

show-add-movie {
  text-align: center;
}

.show-no-photo {
  margin: auto;
  display: inline-block;
}

.index-no-photo {
  height: 450px;
  background-color: silver;
  color: white;
}

.service, .genre, .runtime, .release_date {
  font-style: italic;
}

.overview {
}


// Pagination buttons
.page-number {
  display: inline-block;
  text-align: center;
}
.digg_pagination {
  background: orange;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #132F19; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #132F19;
    color: orange;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #132F19;
    border: 1px solid #132F19; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: white;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
